/* App.css */
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  font-size: 1.5em;
  color: white;
}

.buttons {
  margin: 20px;
}

.grid {
  justify-content: center;
  display: grid;
  margin: 20px auto;
}

.cell {
  width: 20px;
  height: 20px;
  border: solid 1px black;
}

.cell.alive {
  background-color: yellow;
}

.App-footer {
  margin-top: 20px;
  padding: 10px;
  background-color: #282c34;
  color: white;
}

.speed-control {
  margin: 10px;
}
